* {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body,
#root,
.App {
  min-width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #222222;
  color: #FFE8D9;
}

header {
  text-align: center
}

header h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 4.5rem;
  margin: 0;
}

header h2 {
  font-family: 'Ubuntu Mono', monospace;
  font-weight: 700;
  font-size: 4.5rem;
  margin: 0;
}
