* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root,
.App {
  min-width: 100vw;
  min-height: 100vh;
}

.App {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #222222;
  color: #FFE8D9;
}

header {
  text-align: center
}

header h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 4.5rem;
  margin: 0;
}

header h2 {
  font-family: 'Ubuntu Mono', monospace;
  font-weight: 700;
  font-size: 4.5rem;
  margin: 0;
}

section {
  display: flex;

  width: 100%;
  max-width: 22rem;
  border-radius: 0.375rem;

  gap: 0.5rem;
  margin-top: 1.75rem;
  padding: 15px;

  background-color: #626262;
  color: #fff;
}

section span {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 1rem;
  line-height: 1.5rem;
}

main {
  margin-top: 1.75rem;
  width: 100%;
  max-width: 22rem;
}

main .row {
  display: flex;
  justify-content: space-between;
}

main .row label:last-child {
  text-align: right;
}

main .row label {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.875rem;
  line-height: 1.35rem;
  color: #f7f7f7;
}

main .row label input {
  display: block;
  margin-top: 0.25rem;
  background-color: #f7f7f7;
  border: 1px solid #9e9e9e;
  border-radius: 0.375rem;
  height: 2.2rem;
  width: 6.25rem;
  padding: 0.5rem 0.75rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.875rem;
  color: #222222;
  line-height: 1.35rem;
}

main .border-previewer {
  width: 17.875rem;
  height: 17.875rem;

  background-color: #ff9466;

  margin: 0.75rem auto;
}
